$fonts: 'Rock Salt', cursive;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: $fonts;
  letter-spacing: 0.1em;
}

body {
  background-color: black;
  color: white;
}

.deal-description {
  font-family: 'Scope One', serif;
}

#bnb-banner {
  height: 185px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .arrow {
    background-image: url('images/arrow.svg');
    width: 30px;
    height: 28px;
    object-fit: cover;
    top: 2em;
    left: 1.5em;
    position: absolute;
  }
  h1 {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
  }
  .sidebar-icon {
    background-image: url('images/sidebar.svg');
    width: 30px;
    height: 24px;
    object-fit: cover;
    top: 2em;
    right: 1.5em;
    position: absolute;
  }
}

#banner-background {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url('images/bnb-banner.jpg');
  background-size: cover;
  background-position: center;
  height: inherit;
  width: 100%;
  z-index: 0;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.fill-background {
  height: 100%;
  margin: 0 1em;
}

.sidebar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  font-size: 1em;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  &:empty {
    display: none;
  }
}

.sidebar-container {
  height: 100%;
  width: 80%;
  background-color: rgb(176, 0, 0);
  display: flex;
  flex-direction: column;
  .location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: none;
    div form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  font-size: 24px;
}

.sidebar-container > * {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: none;
  border-left: none;
  padding-left: 15px;
  padding-right: 15px
}

#bnb-title {
  transform: translateY(-200%);
}

#bnb-title,
#fresh-deals-title {
  letter-spacing: normal;
  text-align: center;
}

img {
  width: 30%;
  height: 30%;
  object-fit: cover;
}

.deal-description {
  font-family: 'Scope One', serif;
}

.current-city {
  font-size: 20px
}

.menu-hidden,
.search-hidden {
  overflow-y: hidden;
  height: 0;
}

.search-hide {
  overflow-y: hidden;
  height: 0;
  animation: 200ms linear search-scrollup;
}

.search-reveal {
  overflow-y: hidden;
  animation: 200ms linear search-scrolldown;
}

.default-checkbox {
  width: 100%;
  font-size: 10px;
  text-align: right;
}

.user-menu {
  overflow: hidden;
  text-align: center;
  font-size: 14px;
}

.menu-hide {
  overflow-y: hidden;
  height: 0;
  animation: 200ms linear menu-scrollup;
}

.menu-reveal {
  overflow-y: hidden;
  animation: 200ms linear menu-scrolldown;
}

.geo-icon, .account-icon {
  font-size: 40px;
}

.search-icon {
  font-size: 20px;
}

.filter {
  width: 100%;
}

.dollar {
  font-size: 24px;
}

.dollar-light {
  color: rgba(255, 255, 255, 0.5);
}

.filter-icon {
  width: 50px;
  height: 34px;
  align-self: center;
}

.align-mid {
  align-items: center;
}

.focus-darken {
  box-shadow: 0 0 22px 5000px rgba(0, 0, 0, 0.5);
}

.check {
  font-size: 32px;
  align-self: center;
}

#mile-label {
  font-size: 14px;
  font-family: 'Scope One', serif;
  font-weight: bold;
  width: 35px;
  text-align: center;
}

#edit-mile-label {
  font-size: 12px;
}

.slide-in-enter {
  opacity: 0;
  transform: translate(100%);
  &.slide-in-enter-active {
    opacity: 1;
    transform: translate(0%);
    transition: all 500ms;
  }
}

.slide-in-exit {
  transform: translate(0);
  &.slide-in-exit-active {
    transform: translate(100%);
    transition: all 500ms;
  }
}

.carousel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10em;
  margin-bottom: 1em;
  font-size: 1.25em;
  div {
    i {
      margin: 0 0.25em;
    }
  }
}

.restaurant-details {
  font-size: 0.75em;
  .restaurant-tags {
    margin-bottom: 1em;
    text-align: center;
  }
  .restaurant-hours {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    ul {
      list-style: none;
      margin-right: 2em;
    }
  }
}

a {
  color: white;
  text-decoration: none;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  cursor: pointer;
  li {
    margin: 0 2%;
  }
}

.signForm {
  padding: 4%;

  button {
    background-color: rgb(255, 79, 79);
    border-radius: 16px;
    border: 1px solid rgb(255, 79, 79);
    color: white;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  a {
    color: #5a4894;
    text-decoration: none;
  }
  h3 {
    padding-left: 2%;
  }
  .container {
    padding: 3%;
  }
  .signin {
    color: white;
  }
}

@keyframes search-scrolldown {
  0%   {height: 0;}
  25%  {height: 20px;}
  50%  {height: 40px;}
  75%  {height: 60px;}
  100% {height: auto;}
}

@keyframes search-scrollup {
  0%   {height: auto;}
  25%  {height: 60px;}
  50%  {height: 40px;}
  75%  {height: 20px;}
  100% {height: 0;}
}

@keyframes menu-scrolldown {
  0%   {height: 0;}
  25%  {height: 10px;}
  50%  {height: 20px;}
  75%  {height: 30px;}
  100% {height: auto;}
}

@keyframes menu-scrollup {
  0%   {height: auto;}
  25%  {height: 30px;}
  50%  {height: 20px;}
  75%  {height: 10px;}
  100% {height: 0;}
}

.google-map {
  display: flex;
  justify-content: center;
  iframe {
    width: 325px;
    height: 115px;
    border: 0;
  }
}

#radius-range {
  -webkit-appearance: none;
  appearance: none;
  width: 115px;
  height: 2px;
  background: white;
  outline: none;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
  }
  &::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    opacity: 1;
  }
}
