.header {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  h1 {
    color: white;
  }
}

.sidebar {
  position: fixed;
  width: 80%;
  background-color: red;
}

.account {
  .account-icon {
    background-image: url('images/account-icon.svg');
    width: 42px;
    height: 42px;
    object-fit: cover;
  }
}

.filter-icon {
  background-image: url('images/filter-icon.svg');
  width: 38px;
  height: 24px;
  object-fit: cover;
}

.sidebar-icon {
  background-image: url('images/sidebar.svg');
  width: 24px;
  height: 24px;
  object-fit: cover;
}

img {
  width: 30%;
  height: 30%;
  object-fit: cover;
}
