* {
  margin: 0;
  font-family: 'Rock Salt', cursive;
  letter-spacing: 0.1em;
}

#root {
  background-color: black;
  color: white;
}

#bnb-title {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                    url('images/bnb-banner.jpg');
  background-size: cover;
  height: 185px;
}

#bnb-title, #fresh-deals-title {
  letter-spacing: normal;
  text-align: center;
}

img {
  object-fit: contain;
  height: 150px;
  max-width: 33%;
  max-height: 70%;
}

.deal {
  height: 150px;
}

.restaurant-name{
  letter-spacing: 0.15em;
}

.deal-description {
  font-family: 'Scope One', serif;
}
